<!-- 1 Column Text : BEGIN -->
<tr>
  <td style="background-color: #ffffff;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px 0px 0px 20px;">
          <h2
            style="margin: 0 0 10px 0; font-family: Hind, sans-serif; font-size: 18px; line-height: 22px; color: #36395a; font-weight: bold;">
            {{ recommendation.label }}</h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text : END -->
{% for item in recommendation.hits %}
<!-- Thumbnail Left, Text Right : BEGIN -->
<tr>
  <td dir="ltr" width="100%" style="padding: 10px; background-color: #ffffff;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <!-- Column : BEGIN -->
        <th width="33.33%" class="stack-column-center">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td dir="ltr" valign="top" style="padding: 0 10px;">
                <img src="{{ item.image_link }}" width="170"
                  height="170" alt="{{ recommendation.name }}" border="0" class="center-on-narrow"
                  style="height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;">
              </td>
            </tr>
          </table>
        </th>
        <!-- Column : END -->
        <!-- Column : BEGIN -->
        <th width="66.66%" class="stack-column-center">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td dir="ltr" valign="top"
                style="font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px; text-align: left;"
                class="center-on-narrow">
                <h3
                  style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 16px; line-height: 22px; color: #333333; font-weight: bold;">
                  {{ item.name }}</h2>
                  <p style="margin: 0 0 10px 0;">{{ item.description }}</p>
                  <!-- Button : BEGIN -->
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow"
                    style="float:left;">
                    <tr>
                      <td class="button-td button-td-primary" style="border-radius: 20px; background: #ffffff;">
                        <a class="button-a button-a-primary" href="https://google.com/"
                          style="background: #ffffff; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 7px 10px; color: #36395a; display: block; border-radius: 20px;">Add to my cart</a>
                      </td>
                    </tr>
                  </table>
                  <!-- Button : END -->
              </td>
            </tr>
          </table>
        </th>
        <!-- Column : END -->
      </tr>
    </table>
  </td>
</tr>
<!-- Thumbnail Left, Text Right : END -->
{% endfor %}